<form class="well form-inline">
    <h4>
      Try typing "Micro" or "GE":
      <small class="pull-right">Data from <a href="http://dev.markitondemand.com/MODApis/" target="_blank">markit on demand Data Apis v2</a></small>
    </h4>
    <input type="text" ng-model="asyncSelected" placeholder="Enter company name or symbol" uib-typeahead="symbol as symbol.Name+' ('+symbol.Exchange+')' for symbol in getSymbol($viewValue)" typeahead-loading="loadingSymbols" typeahead-no-results="noResults" class="form-control" ng-model-options="modelOptions" size=50>
    <i ng-show="loadingSymbols" class="glyphicon glyphicon-refresh"></i>
    <div ng-show="noResults">
      <i class="glyphicon glyphicon-remove"></i> No Results Found
    </div>
    <div ng-show="exists()" class="alert alert-warning">
      Already in portfolio
    </div>

    <div ng-show="!noResults && !loadingSymbols && asyncSelected.Exchange">
      <pre>Model: {{asyncSelected | json}}</pre>
      <button class="btn btn-primary" ng-click="add1()" ng-disabled="exists()">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </div>
</form>


<div>

  <button class="btn btn-primary" ng-click="add2()" ng-disabled="!pendingStock.history2">
    <span class="glyphicon glyphicon-plus"></span>
  </button>

  <button ng-click="clearAll()" class="btn btn-danger">Clear</button>
</div>
