<div ng-show="!pendingStock">
  None selected
</div>

  <table class="table" ng-show="!!pendingStock">
    <tbody>
      <tr><td width="10em">Source</td><td>{{pendingStock.src}}</td></tr>
      <tr><td>Symbol</td><td>{{pendingStock.lookup.Symbol}}</td></tr>
      <tr><td>Symbol 2</td><td>{{pendingStock.lookup.Symbol2}}</td></tr>
      <tr><td>Name</td><td>{{pendingStock.lookup.Name}}</td></tr>
      <tr><td>Exchange</td><td>{{pendingStock.lookup.Exchange}}</td></tr>
      <tbody ng-show="!pendingStock.history">
        <tr>
          <td>History</td>
          <td>
            <span class="text-warning text-center">No close prices available</span>
            &nbsp;
            <button class="btn btn-xs" ng-click="getChart()" ng-disabled="gcs()==1">
              <span class="glyphicon glyphicon-refresh"></span>
            </button>
            &nbsp;
            <span ng-show="gcs()==1">Loading prices...</span>
            <span ng-show="gcs()==2">Error in prices</span>
          </td>
        </tr>
      </tbody>
      <tbody ng-show="pendingStock.history">
        <tr>
          <td>History</td>
          <td>
            <div>{{pendingStock.history.length}} points</div>
            <div>{{pendingStock.historyMeta.mindate}} .. {{pendingStock.historyMeta.maxdate}}</div>
            <div>
              <button class="btn btn-xs" ng-click="getChart()" ng-disabled="gcs()==1">
                <span class="glyphicon glyphicon-refresh"></span>
              </button>
              &nbsp;
              <span ng-show="gcs()==1">Loading prices...</span>
              <span ng-show="gcs()==2">Error in prices</span>
            </div>
            <div jq-sparkline ng-model="pendingStock.history2" type="line" ng-if="pendingStock.history2"></div>
            <div jq-sparkline ng-model="pendingStock.pnls" type="line" ng-if="pendingStock.pnls"></div>
          </td>
        </tr>
        <tr>
          <td>Empirical distribution</td>
          <td>
            <div jq-sparkline ng-model="pendingStock.pnlsEdf" type="bar" ng-if="pendingStock.pnlsEdf"></div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <div>
              <a href="http://www.reuters.com/finance/stocks/chart?symbol={{pendingStock.lookup.Symbol}}" target="_blank">Source</a>
            </div>
            <div>
              <button class="btn btn-xs btn-info" ng-click="showChart(pendingStock)">
                ...
              </button>
            </div>
          </td>
        </tr>
        <tr>
          <td>VaR 95%, 1-day</td>
          <td>{{100*calculateVaR(pendingStock,95,1)|number:2}} %</td>
        </tr>
        <tr>
          <td>VaR 95%, 7-day</td>
          <td>{{100*calculateVaR(pendingStock,95,7)|number:2}} %</td>
        </tr>
        <tr>
          <td>VaR 99%, 1-day</td>
          <td>{{100*calculateVaR(pendingStock,99,1)|number:2}} %</td>
        </tr>
        <tr>
          <td>VaR 99%, 7-day</td>
          <td>{{100*calculateVaR(pendingStock,99,7)|number:2}} %</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>In portfolios:</td>
          <td>
            <span ng-repeat="ip in inPortfolios(false)">
              <a ng-href="#/portfolioShow/{{ip.id}}">{{ip.name}}</a>
              &nbsp;&nbsp;
            </span>
            <span ng-show="!inPortfolios(false).length">None</span>
          </td>
        </tr>
        <tr ng-show="inPortfolios(true).length">
          <td>Add to portfolio:</td>
          <td>
            <span ng-repeat="ip in inPortfolios(true)">
              <button ng-click="add2(ip.id)" class="btn btn-primary">
               {{ip.name}}
              </button>
              &nbsp;
            </span>
          </td>
        </tr>
      </tbody>
      <tr>
        <td></td>
        <td>
          <a ng-click="goback()" class="btn btn-danger" ng-show="getPid()">
            Cancel
          </a>
        </td>
      </tr>
    </tbody>
  </table>

<div ng-show="!inPortfolios(true).length || noPortfolios()" class="alert alert-warning text-center">
  <span ng-show="!inPortfolios(true).length">
    Add more portfolios
  </span>

  <span ng-show="noPortfolios()" class="alert alert-warning">
    No portfolios to add to. Add a portfolio first.
  </span>

  &nbsp;

  <a class="btn btn-primary" href="#/portfolioAdd">
    <span class="glyphicon glyphicon-plus"></span>
  </a>
</div>
