<div ng-show="!pendingStock">
  None selected
</div>

  <table class="table" ng-show="!!pendingStock">
    <tbody>
      <tr><td width="10em">Source</td><td>{{pendingStock.src}}</td></tr>
      <tr><td>Symbol</td><td>{{pendingStock.lookup.Symbol}}</td></tr>
      <tr><td>Alternatives</td><td>{{pendingStock.lookup.SymbAlt.join(",")}}</td></tr>
      <tr><td>Name</td><td>{{pendingStock.lookup.Name}}</td></tr>
      <tr><td>Exchange</td><td>{{pendingStock.lookup.Exchange}}</td></tr>
      <tbody>
        <tr>
          <td>History</td>
          <td ng-if="!pendingStock.history">
            <span class="text-warning text-center">No close prices available</span>
            &nbsp;
            <button class="btn btn-xs" ng-click="getChart()" ng-disabled="gcs()==1">
              <span class="glyphicon glyphicon-refresh"></span>
            </button>
            &nbsp;
            <span ng-show="gcs()==1">Loading prices...</span>
            <span ng-show="gcs()==2">Error in prices</span>
          </td>
          <td ng-if="pendingStock.history">
            <div>{{pendingStock.history.length}} points</div>
            <table class="table">
              <tr>
                <td>First</td>
                <td>{{pendingStock.historyMeta.mindate}}</td>
                <td>{{pendingStock.historyMeta.firstprice}} USD</td>
                <td>{{pendingStock.historyMeta.pnl.first|number:2}} %</td>
              </tr>
              <tr>
                <td>Prev EOY</td>
                <td>{{pendingStock.historyMeta.prevEoyDate}}</td>
                <td>{{pendingStock.historyMeta.prevEoyClose}} USD</td>
                <td>{{pendingStock.historyMeta.pnl.eoy|number:2}} %</td>
              </tr>
              <tr>
                <td>Prev EOM</td>
                <td>{{pendingStock.historyMeta.prevEomDate}}</td>
                <td>{{pendingStock.historyMeta.prevEomClose}} USD</td>
                <td>{{pendingStock.historyMeta.pnl.eom|number:2}} %</td>
              </tr>
              <tr>
                <td>Last-1</td>
                <td>{{pendingStock.historyMeta.tm1date}}</td>
                <td>{{pendingStock.historyMeta.tm1price}} USD</td>
                <td>{{pendingStock.historyMeta.pnl.last|number:2}} %</td>
              </tr>
              <tr>
                <td>Last</td>
                <td>{{pendingStock.historyMeta.maxdate}}</td>
                <td>{{pendingStock.historyMeta.lastprice}} USD</td>
              </tr>
            </table>
            <div>
              <button class="btn btn-xs" ng-click="getChart()" ng-disabled="gcs()==1">
                <span class="glyphicon glyphicon-refresh"></span>
              </button>
              &nbsp;
              <span ng-show="gcs()==1">Loading prices...</span>
              <span ng-show="gcs()==2">Error in prices</span>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            Prices plot
            <br/>
            <button ng-click="showJqplot1=!showJqplot1">
              <span ng-show="!showJqplot1">Detailed</span>
              <span ng-show=" showJqplot1">Summary</span>
            </button>
          </td>
          <td>
            <div ng-if="!showJqplot1" jq-sparkline ng-model="pendingStock.history2" type="line" ng-if="pendingStock.history2"></div>
            <!-- http://angular-ui.github.io/ui-chart/ -->
            <div ng-if=" showJqplot1" ui-chart="[pendingStock.historyJqplot]" chart-options="myChartOpts.usd" ></div>
          </td>
        </tr>
        <tr>
          <td>
            P&amp;L plot
            <br/>
            <button ng-click="showJqplot2=!showJqplot2">
              <span ng-show="!showJqplot2">Detailed</span>
              <span ng-show=" showJqplot2">Summary</span>
            </button>
          </td>
          <td>
            <div ng-if="!pendingStock.pnls2">Not available</div>
            <div ng-if="!showJqplot2 && pendingStock.pnls2" jq-sparkline ng-model="pendingStock.pnls2" type="line"></div>
            <!-- http://angular-ui.github.io/ui-chart/ -->
            <div ng-if=" showJqplot2 && pendingStock.pnls2" ui-chart="[pendingStock.pnlsJqplot]" chart-options="myChartOpts.perc" ></div>
          </td>
        </tr>
        <tr>
          <td>Empirical distribution</td>
          <td>
            <div jq-sparkline ng-model="pendingStock.pnlsEdf" type="bar" ng-if="pendingStock.pnlsEdf"></div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <div>
              <a href="http://www.reuters.com/finance/stocks/chart?symbol={{pendingStock.lookup.Symbol}}" target="_blank">Source</a>
            </div>
            <div>
              <button class="btn btn-xs btn-info" ng-click="showChart(pendingStock)">
                ...
              </button>
            </div>
          </td>
        </tr>
        <tr>
          <td>VaR 95%, 1-day</td>
          <td>{{100*calculateVaR(pendingStock,95,1)|number:2}} %</td>
        </tr>
        <tr>
          <td>VaR 95%, 7-day</td>
          <td>{{100*calculateVaR(pendingStock,95,7)|number:2}} %</td>
        </tr>
        <tr>
          <td>VaR 99%, 1-day</td>
          <td>{{100*calculateVaR(pendingStock,99,1)|number:2}} %</td>
        </tr>
        <tr>
          <td>VaR 99%, 7-day</td>
          <td>{{100*calculateVaR(pendingStock,99,7)|number:2}} %</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>In portfolios:</td>
          <td>
            <span ng-repeat="ip in inPortfolios(false)">
              <a ng-href="#/portfolioShow/{{ip.id}}">{{ip.name}}</a>
              &nbsp;&nbsp;
            </span>
            <span ng-show="!inPortfolios(false).length">None</span>
          </td>
        </tr>
        <tr ng-show="inPortfolios(true).length">
          <td>Add to portfolio:</td>
          <td>
            <span ng-repeat="ip in inPortfolios(true)">
              <button ng-click="add2(ip.id)" class="btn btn-primary">
               {{ip.name}}
              </button>
              &nbsp;
            </span>
          </td>
        </tr>
      </tbody>
      <tr>
        <td></td>
        <td>
          <a ng-click="goback()" class="btn btn-danger" ng-show="getPid()">
            Cancel
          </a>
        </td>
      </tr>
    </tbody>
  </table>

<div ng-show="!inPortfolios(true).length || noPortfolios()" class="alert alert-warning text-center">
  <span ng-show="!inPortfolios(true).length">
    Add more portfolios
  </span>

  <span ng-show="noPortfolios()" class="alert alert-warning">
    No portfolios to add to. Add a portfolio first.
  </span>

  &nbsp;

  <a class="btn btn-primary" href="#/portfolioAdd">
    <span class="glyphicon glyphicon-plus"></span>
  </a>
</div>
