<div class="jumbotron">
  <h1>The VaR</h1>
  <p class="lead">
    <img src="images/VaR_diagram_300px.png" alt="VaR diagram" ><br>
    Calculate a portfolio's <a href="https://en.wikipedia.org/wiki/Value_at_risk">Value at Risk</a> in your browser
  </p>
  <p>
    <a class="btn btn-lg btn-success" ng-href="#/portfolioList" ng-click="activateNavBar()" >
      List portfolios!
      <span class="glyphicon glyphicon-ok"></span>
      <span class="badge">{{np()}}</span>
    </a>
  </p>
</div>

<div class="row marketing">
  <h4>Unlimited assets</h4>
  <p>
    Add as many assets to your portfolio as your computer can run.
  </p>

  <h4>Unlimited portfolios</h4>
  <p>
    Add as many portfolios for which to calculate as your keyboard can type.
  </p>
</div>
