<h2>
  <span>Portfolio: {{portfolio.name}}</span>
  <span class="pull-right">
    <a class="btn btn-xs btn-primary" href="#/assetAdd?pid={{portfolio.id}}">
      Add asset
    </a>
    <button class="btn btn-xs btn-danger" ng-click="del()">
     Delete portfolio 
    </button>
  </span>
</h2>

<div ng-show="!alist.length" class="alert alert-warning">
  No assets
</div>

<div ng-show="alist.length">
  <div>Portfolio VaR 95%: {{100*portfolioVaR(95)|number:2}} %</div>

  <br>

  <table class="table">
    <tr>
      <th>&nbsp;</th>
      <th>Symbol</th>
      <th>Name</th>
      <th>Exchange</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>
        VaR (95%)
        &nbsp;
        based on <a href="https://gist.github.com/deenar/f97d517d3188fc7b5302" target="_blank">this</a>
      </th>
    </tr>
    <tr ng-repeat="a in alist track by a.src+a.lookup.Symbol">
      <td><input type="checkbox" ng-model="a.selected" /></td>
      <td>{{a.lookup.Symbol}}</td>
      <td>{{a.lookup.Name}}</td>
      <td>{{a.lookup.Exchange}}</td>
      <td>
        <div jq-sparkline ng-model="a.pnlsEdf" type="bar" ng-if="a.pnlsEdf"></div>
      </td>
      <td>
        <button class="btn btn-danger btn-xs" ng-click="remove(a)">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </td>
      <td>
        {{100*calculateVaR(a,95)|number:2}} %
      </td>
      <td>
      <a ng-href="#/assetShow/{{a.src}}/{{a.lookup.Symbol}}?pid={{portfolio.id}}">Details</a>
      </td>
    </tr>
  </table>

</div>
