<div class="text-center">
  <a class="btn btn-primary" href="#/portfolioAdd">
    New portfolio
  </a>
</div>

<div ng-show="!np()" role="alert">
  No portfolios
</div>


<table class="table" ng-show="np()">
  <caption>Portfolios &nbsp; <span class="badge">{{np()}}</span></caption>
  <tr>
    <th>Source</th>
    <th>Name</th>
    <th>Number of securities</th>
    <th>VaR 95%</th>
  </tr>
  <tr ng-repeat="p in list()">
    <td>{{p.src}}</td>
    <td>
      <a ng-href="#/portfolioShow/{{p.id}}">
        {{p.name}}
      </a>
    </td>
    <td>
      <span class="badge">{{nass(p.id)}}</span>
    </td>
    <td>{{100*portfolioVaR(95,p)|number:2}} %</td>
  </tr>
</table>

<hr>

<button class="btn" ng-click="ffaPortfolios()" ng-disabled="ffaPStatus().r==1">
  Retrieve FFA portfolios
</button>

<div ng-show="ffaPStatus().r==1">
  <button class="btn" ng-click="ffaAbort()">
    Abort
  </button>
  &nbsp;
  Loading FFA portfolios:
  {{ffaPStatus().i}} / {{ffaPStatus().n}}
  &nbsp;
  Last n points: {{ffaPStatus().l}}
</div>
<div ng-show="ffaPStatus().r==2">Error in FFA portfolios</div>

<div ng-show="ffaN()">
  FFA portfolios
  &nbsp;
  <table class="table">
    <tr ng-repeat="p in ffaPortfolios">
      <td>{{p.acc.base}}</td>
      <td>{{p.acc.a}}</td>
      <td>{{p.port.length}} securities</td>
    </tr>
  </table>
</div>
