  <span>
    <table class="table table-condensed" border=0>
      <tr class="h2">
        <td class="pull-right">Portfolio</td>
        <td><input type="text" ng-model="portfolio.name" ng-change="updateName()" ></td>
        <td>
          <span class="pull-right">
            <a class="btn btn-xs btn-primary" href="#/assetAdd?pid={{portfolio.id}}">
              Add asset
            </a>
            <button class="btn btn-xs btn-danger" ng-click="delPortfolio()">
             Delete portfolio 
            </button>
          </span>
        </td>
      </tr>
      <tr>
        <td class="pull-right">Cash (USD)</td>
        <td>
          <input type="number" ng-model="portfolio.cash" ng-change="updateCash()" >
          &nbsp;
          {{unallocated()|number:2}} %
        </td>
      </tr>
      <tr>
        <td class="pull-right">Value (USD)</td>
        <td>{{portfolio.value|number:2}}</td>
      </tr>
    </table>
  </span>

<div ng-show="!alist.length" class="alert alert-warning">
  No assets
</div>

<div ng-show="alist.length">
  <div>
    <varmatrix type="matrix"></varmatrix>
  </div>

  <br>

  <label>
    <input type="checkbox" ng-model="showNoData" />
    Show assets with no data
  </label>

  <br>

  <table class="table">
    <tr varmatrix type="rowHeader">
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>Symbol</th>
      <th>Alternatives</th>
      <th>Name</th>
      <th>Exchange</th>
      <th>
        Price
        <br>Max date
        <br>P&amp;L
      </th>
      <th>Qty</th>
      <th>Weight</th>
      <th>History</th>
      <th>&nbsp;</th>
    </tr>
    <tbody ng-repeat="a in list() track by $index">
      <tr varmatrix type="rowBodyAsset" ng-show="!!a.history||showNoData"> <!--a.src+a.lookup.Symbol">-->
        <td>{{$index+1}}</td>
        <td nowrap>
          <a class="btn btn-xs btn-info" ng-href="#/assetShow/{{a.src}}/{{a.lookup.Symbol}}?pid={{portfolio.id}}" title="Show details" ng-disabled="!a.src || !a.lookup.Symbol">
            <span class="glyphicon glyphicon-search"></span>
          </a>
          &nbsp;
          <button class="btn btn-danger btn-xs" ng-click="delAsset(a)" title="Delete asset from portfolio">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </td>
        <td>{{a.lookup.Symbol}}</td>
        <td>{{a.lookup.SymbAlt.join(",")}}</td>
        <td>{{a.lookup.Name}}</td>
        <td>{{a.lookup.Exchange}}</td>
        <td>
          {{a.historyMeta.lastprice|number:2}} USD
          <br>{{a.historyMeta.maxdate}}
          <br>{{a.historyMeta.pnl.last|number:2}} %
        </td>

        <td nowrap>
          <input type="number" min=0 step="any" ng-value="a.qty?a.qty:0" style="width:5em" ng-model="a.qty" ng-change="updateAsset(a)">
          share(s)
          <div>{{a.qty*a.historyMeta.lastprice|number:2}} USD</div>
        </td>

        <td nowrap>
          <!-- using a.pct here doesnt get updated in real-time
          {{qty2pct(a,portfolio)|number:2}} %
          <br>-->
          {{a.pct|number:2}} %
        </td>
        <td>
          {{a.history?a.history.length:0}} points
          <br>
          {{a.historyMeta.mindate}} .. {{a.historyMeta.maxdate}}
        </td>
        <td>
          <div jq-sparkline ng-model="a.pnlsEdf" type="bar" ng-if="a.pnlsEdf"></div>
        </td>
      </tr>
    </tbody>
  </table>

</div>
