      <form class="well form-inline">
        <label>Try typing "Micro" or "GE":</label>
        <input type="text" id="symbolsearch" class="input-" placeholder="Enter company name or symbol">
        <span class="help-inline hide"><img src="resources/spinner.gif" align="absmiddle" alt="spinner" /> loading...</span>
        <span class="help-inline hide label label-info"></span>
      </form>

<p>From <a href="https://github.com/markitondemand/DataApis/blob/gh-pages/LookupSample/index.html">markitondemand/DataApis</a></p>

